.outer-container {
  width: 420px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.align-center {
  text-align: center;
}

.sentiment-container {
  display: flex;
  align-items: center;
  height: 65px;
  margin: 2px 0px;
}

.sentiment-item-panels {
  width: 190px;
  height: 80%;
  background-color: #fafafa;
  position: relative;
}

.sentiment-item-neutral {
  width: 2px;
  height: 100%;
  background-color: grey;
}

.sentiment-negative {
  position: absolute;
  right: 0;
  width: 0%;
  height: 100%;
  background-color: #E71D36;
  transition: all 0.3s ease-in-out;
}

.sentiment-positive {
  position: absolute;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: #2EC4B6;
  transition: all 0.3s ease-in-out;
}

.sentiment-perc {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sentiment-perc-text {
  color: white;
  font-weight: bold;
}

.positive-negative-container {
  width:100%;
  display:flex;
  justify-content:space-between;
  margin-bottom:20px;
}
