<!DOCTYPE html>
<html ng-app="my-app">
  <head>
    <link rel="stylesheet" href="css/popup.css">
    <script src="js/lib/angular.min.js"></script>

    <!-- App's Custom code -->
    <script src="js/app/popup.js"></script>
  </head>
  <body>
    <div ng-controller="PopupCtrl">
        <div class="outer-container">
          <div class="align-center"><h1>Overall Sentiment</h1></div>

          <p class="align-center" ng-style="neutralStyle">Neutral</p>
          <div class="sentiment-container">
            <div class="sentiment-item-panels">
              <div class="sentiment-negative" ng-style="negativeWidth">
                <div class="sentiment-perc" ng-if="negativePercentage > 15">
                  <div class="sentiment-perc-text">{{negativePercentage}}%</div>
                </div>
              </div>
            </div>
            <div class="sentiment-item-neutral"></div>
            <div class="sentiment-item-panels">
              <div class="sentiment-positive" ng-style="positiveWidth">
                <div class="sentiment-perc" ng-if="positivePercentage > 15">
                  <div class="sentiment-perc-text">{{positivePercentage}}%</div>
                </div>
              </div>
            </div>
          </div>
          <div class="positive-negative-container">
            <div>Negative</div>
            <div>Positive</div>
          </div>
        </div>
    </div>
  </body>
</html>
